@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {

    :root {
        --primary-bg: bg-indigo-200;
        --primary-contrast: bg-white;
        --secondary-bg: bg-gray-200;
        --secondary-contrast: bg-white;
    }

    /* This tag applies to the background of all webpages */
    .custom-landing-page {
        @apply bg-cover bg-no-repeat bg-gradient-to-bl 
        from-accent-primary-100 from-10% via-blue-50 via-40% to-accent-secondary-300 to-95%
        bg-slate-600 bg-opacity-20 bg-blend-overlay;
    }

    .custom-pages {
        @apply bg-cover bg-no-repeat bg-gradient-to-bl 
        from-accent-primary-100 from-10% via-blue-50 via-40% to-accent-secondary-300 to-95%
        bg-slate-600 bg-opacity-20 bg-blend-overlay;
        
        /* dark:from-gray-400 dark:via-slate-200 dark:to-slate-200; */
        
        /* @apply bg-cover bg-gray-200; */
        
    }

    /* 
     * ------------------------------------------------------------------------------------------
     * Authorisation Form Styling
     * ------------------------------------------------------------------------------------------
     */

    /* Styles the error text on the auth forms */
    .custom-error-text {
        @apply border-2 border-red-300;
    }

    /* Styles the input fields on the auth forms */
    .custom-form-field {
        @apply w-full mt-1 px-3 py-2 bg-white shadow-sm placeholder-slate-400 
        focus:outline-none focus:border-accent-primary-300 focus:ring-accent-primary-300 block rounded-md 
        sm:text-sm focus:ring-1;
    }

    /* Styles the input fields on the auth forms after an input error */
    .custom-form-field-error {
        @apply border-2 border-red-400;
    }

    /* Styles the text elements on the auth forms */
    .custom-form-text-elements {
        @apply text-sm font-medium hover:text-accent-secondary-500 focus:text-accent-secondary-700 text-gray-500 hover:cursor-pointer;
    }

        /* 
     * ------------------------------------------------------------------------------------------
     * 
     * ------------------------------------------------------------------------------------------
     */

    /* This tag applies to the loginModal */
    .custom-login {
        @apply outline-none focus:outline-none bg-black bg-opacity-25 backdrop-blur-sm;
    }

    /* This tag applies to the description cards on landing page */
    .custom-descriptioncards {
        @apply bg-white rounded-3xl shadow-md hover:shadow-lg transition duration-300 ease-in-out;
        /* hover:outline hover:outline-2 hover:outline-teal-500; */
    }

    /* This tag applies to the subject cards on dashbboard */
    .custom-subject-cards {
        @apply bg-white rounded-lg shadow-md p-4 transform 
        hover:bg-button-light-blue hover:scale-105 transition-transform 
        duration-300;
    }

    /* This tag applies to the assignment cards on assignments page */
    .custom-assignment-cards {
        @apply bg-white rounded-lg shadow-md p-4 transform 
        hover:bg-button-light-blue hover:scale-105 transition-transform 
        duration-300;
    }

    /* This tag applies to the footer */
    .custom-footer {
        @apply bg-white shadow-md rounded-full mx-auto w-48 h-9 mb-5 mt-8;
    }

    /* This tag applies to both navbars (loggedin / anonymous) */
    .custom-navbar {
        @apply bg-white drop-shadow-lg rounded-full;
    }
}
