@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
.menuSelected {
    --tw-bg-opacity: 1;
    background-color: rgb(234 128 167 / var(--tw-bg-opacity));
}

.menuDeselected {
    
=======
/* This tag applies to the subject cards on dashbboard */
.custom-subject-cards {
    @apply bg-white rounded-lg shadow-md p-4 transform 
    hover:bg-button-light-blue hover:scale-105 transition-transform 
    duration-300;
>>>>>>> 8ae1a0b (Add in design changes from Yash's branch)
}