# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# VSCode specific files
.vscode/
.settings.json

# Node.js specific files
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled files
/dist/
/out/
/build/
*.log

# Dependency directories
/typings/

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production build files
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Documented Flask ignores
venv/
env/

*.pyc
__pycache__/


.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

# New Added
.idea/
venv
flaskr/__pycache__