header{
    position: fixed;
    left:0;
    right:0;
    top:0;
}

body, #login-body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

#login-body {
    padding: 0;
    align-items: center;
}

.container, .centered-container, .login-background-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.centered-container, .login-background-container {
    height: 80%;
}

.container {
    width: 80%;
    height: 80%;
    margin-top: 20px;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.vertical-container {
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

input[type="text"] {
    /* flex-grow: 1; */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    /* flex-grow: 1; */
    padding: 5px;
    width:20%;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9ec8c1;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #a3b3b8;
}

.active {
    background-color: #658495;
}

/* Card container classes */

* {
    box-sizing: border-box;
}

.selectClassMenu {
    width: 80%
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: left;
    background-color: white;
    border-radius: 5px;
    transition: 0.3s;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Login page classes */

.authentication-header, .authentication-form, .sign-in-button, .create-account-button, .divider, .sign-up-button {
    width: 95%;
}

.authentication-description, .authentication-form > input {
    font-size: 3vh;
}

.divider, .forgot-password-link {
    font-size: 2vh;
}

.authentication-background-container {
    width: 30%;
    height: 80vh;
    min-width: 500px;
    padding: 10px;
}

.authentication-background-container > * {
    margin: 5px 0;
}

.authentication-header {
    padding: 5px;
    height: 20%;
    box-shadow: none;
}

.authentication-logo {
    width: auto;
    height: 100%;
    flex: 2;
}

.authentication-description {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;}

.authentication-form-container {
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
    margin: 0 0 0 0;
    padding: 0;
    box-shadow: none;
}

.sign-up-form-container {
    height: 60%;
}

.authentication-form-container, .authentication-form-container > * {
    gap: 0.5vh;
}

.authentication-form {
    display: flex;
    height: 25%;
    flex: 3;
}

.sign-up-form {
    flex: 6;
}

.authentication-form > input {
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.create-account-button:hover, .sign-in-button:hover, .sign-up-button:hover {
    background-color: #2766cc;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}

.sign-in-button, .create-account-button, .sign-up-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 4vh;
    border-radius: 10px;
    height: 100%;
}

.sign-in-button, .create-account-button, .sign-up-button {
    height: 10%;
    flex: 1;
}

.forgot-password-link {
    margin: 20px 0;
    font-size: 2vh;
}

.divider {
    display: flex;
    align-items: center;
    --inner-divider-gap: 5vw;
    margin: 5px 0 5px 0;
}

/* Creates horizontal page divider lines around an element*/
.divider::before, .divider::after {
    flex: 1;
    content: '';
    background-color: black;
    height: 3px;
}

.divider::before {
    margin-right: var(--inner-divider-gap);
}

.divider::after {
    margin-left: var(--inner-divider-gap);
}

.create-account-button {
    height: 13%;
}

.sign-up-button {
    height: 24%;
}

/* Sign up page classes */

.login-link-container {
    height: 5%;
    margin: 2vh;
    padding: 0;
    font-size: 2vh;
    box-shadow: none;
}

/* Responsivrgb(255, 1, 1)lumns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .authentication-background-container {
        width: 100%;
        height: 90vh;
        min-width: 0px;
    }
}