header{
    position: fixed;
    left:0;
    right:0;
    top:0;
    overflow: visible;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

#authentication-body, #classpage-body, #assignmentpage-body {
    align-items: center;
}

.centered-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.vertical-container {
    flex-direction: column;
    justify-content: space-between;
}

.sticky-header {
    position: sticky;
    z-index: 0;
    top: 52px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

[type="text"] {
    /* flex-grow: 1; */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    /* flex-grow: 1; */
    padding: 5px;
    width:20%;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #9ec8c1;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #a5b5b8;
}

.active {
    background-color: #658495;
}

/* Card container classes */

* {
    box-sizing: border-box;
}

.selectClassMenu {
    width: 80%
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: left;
    background-color: white;
    border-radius: 5px;
    transition: 0.3s;
    color: black;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Login page classes */

.authentication-header, .login-form, .sign-up-form, .create-account-button, .divider, .sign-up-button {
    width: 95%;
}

.authentication-description, .authentication-form-input {
    font-size: 3vh;
}

.divider, .forgot-password-link, .login-link {
    font-size: 2vh;
}

#authentication-body {
    padding: 0;
}

.authentication-background-container {
    width: 30%;
    height: 80vh;
    min-width: 500px;
    padding: 10px;
    display: flex;
}

.authentication-background-container > * {
    margin: 5px 0;
}

.authentication-header {
    padding: 5px;
    height: 20%;
    box-shadow: none;
    flex: 2 1000;
}

.authentication-logo {
    width: auto;
    height: 10vh;
    flex: 2 100;
}

.authentication-description {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;}

.authentication-form-container {
    justify-content: space-evenly;
    width: 100%;
    height: 40%;
    margin: 0.5vh 0 0.5vh 0;
    padding: 0;
    box-shadow: none;
    flex: 8;
}

.login-form, .sign-up-form {
    display: flex;
    justify-content: space-between;
}

.login-form {
    flex: 3;
    gap: 2vh;
}

.sign-up-form {
    flex: 6;
    gap: 1vh;
}

.authentication-form-group {
    flex: 10;
}

.authentication-form-input {
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 10px;
}

.create-account-button:hover, .sign-in-button:hover, .sign-up-button:hover {
    background-color: #2766cc;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}

.sign-in-button, .create-account-button, .sign-up-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 4vh;
    border-radius: 10px;
    height: 100%;
}

.sign-in-button, .sign-up-button {
    width: 100%;
    height: 15%;
}

.sign-in-button {
    flex: 8;
}

.forgot-password-link, .login-link {
    margin: 2vh;
    flex: 0 1000 0;
}

.divider {
    display: flex;
    align-items: center;
    --inner-divider-gap: 4vw;
    margin: 0.5vh 0 0.5vh 0;
    flex-shrink: 100;
}

/* Creates horizontal page divider lines around an element*/
.divider::before, .divider::after {
    flex: 1;
    content: '';
    background-color: black;
    height: 3px;
}

.divider::before {
    margin-right: var(--inner-divider-gap);
}

.divider::after {
    margin-left: var(--inner-divider-gap);
}

.create-account-button {
    height: 13.5%;
    flex: 2 1000;
}

/* Sign up page classes */

.sign-up-button {
    height: 24%;
    flex: 1;
}

.login-link-container {
    height: 5%;
    margin: 2vh;
    box-shadow: none;
}

/* Classpage classes */

.assignment-card {
    margin-bottom: 4vh;
}

/* Assignmentpage classes */

#assignmentpage-body {
    flex-direction: column;
    justify-content: flex-start;
}

.assignment-header, .assignment-description-block {
    width: 90vw;
}

.assignment-header, .assignment-description-block, .assignment-submission-viewer, .assignment-submit-button-page {
    margin-bottom: 4vh;
}

.assignment-header {
    height: 15vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    border-radius: 0;
}

.header-item {
    height: 100%;
    margin: 0;
    box-shadow: none;
}

.assignment-info, .assignment-submission-box {
    margin: 0;
    font-size: 3vh;
    display: flex;
    border: 1px solid #ccc;
}

.assignment-info, .assignment-submission-box {
    width: 35%;
    padding:  2vh 1vh 2vh 5vw;
}

.assignment-due-date, .assignment-submission-date {
    font-size: 2vh;
    color: #a3b3b8;
}

.assignment-submission-box {
        border-radius: 0;
}

.assignment-submission-info {
    width: 70%;
}

.assignment-submission-number, .assignment-submission-title, .assignment-submission-date {
    margin: 0;
}

.assignment-submission-dropdown {
    width: 30%;
    margin-right: 1vw;
    font-size: 4vh;
    border: 1px solid black;
}

.assignment-score-header {
    width: 10%;
    font-size: 4vh;
    border: 1px solid #ccc;
    border-radius: 0;
}

.assignment-submit-button-header, .assignment-submit-button-page {
    width: 20%;
    color: black;
    border: 1px solid #ccc;
    border-radius: 0;
    font-size: 3vh;
}

.assignment-submission-viewer {
    height: 100vh;
    width: 60%;
    background-color: grey;
}

/* Responsivrgb(255, 1, 1)lumns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .authentication-background-container {
        width: 100%;
        height: 90vh;
        min-width: 0px;
    }
}

@media screen and (max-height: 500px) {
    .authentication-background-container {
        /* width: 50vw; */
        height: 100vh;
    }

    .forgot-password-link {
        margin: 1px 0 1px 0;
    }
}

/* Drop down menu */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 1;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
