<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="./../../static/style.css">
</head>
<body>
<div class="centered-container vertical-container">
    <div class="login-centered-container centered-container vertical-container">
        <div class="login-header centered-container vertical-container">
            <img class="login-logo" src="#" alt="AVA Logo">
            <div class="login-description">Log In To AVA</div>
        </div>
        <div class="test">
            <form class="login-form" action="" method="post">
                <input type="email" placeholder="Email Address" name="email">
                <input type="password" placeholder="Password" name="password">
            </form>
            <div class="button sign-in-button">Log In</div>
            <a class="forgot-password-link" href="">Forgot Password?</a>
        </div>
        <div class="divider">or</div>
        <div class="button sign-up-button">Create New Account</div>
    </div>        
</div>
</body>
</html>

 