<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="login-body">
<div class="login-background-container centered-container vertical-container">
    <div class="login-header centered-container vertical-container">
        <img class="login-logo" src="{{ url_for('static', filename='images/polar-bear.png') }}" alt="AVA Logo">
        <div class="login-description">Log In To AVA</div>
    </div>
    <div class="login-form-container centered-container vertical-container">
        <form class="login-form" id="loginForm" action="{{ url_for('bp.homepage') }}" method="post">
            <input type="email" placeholder="Email Address" name="email" required>
            <input type="password" placeholder="Password" name="password" required>
        </form>
        <button class="sign-in-button" type="submit" form="loginForm" onclick="login_success()">Log In</button>
        <a class="forgot-password-link" href="">Forgot Password?</a>
    </div>
    <div class="divider">or</div>
    <button class="sign-up-button" type="button">Create New Account</button>
</div>        
</body>
</html>
