<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="./../../static/style.css">
</head>
<body>
<div class="container" id="login">
    <div>
        <div>
            <img src="#" alt="AVA Logo">
            <div>Log In To AVA</div>
        </div>
        <div>
            <form action="" method="post">
                <input type="email" placeholder="Email Address" name="email">
                <input type="password" placeholder="Password" name="password">
            </form>
        </div>
        <div class="button">Log In</div>
        <a href="">Forgot Password?</a>
        <div>or</div>
        <div class="button">Create New Account</div>
    </div>
</div>
</body>
</html>

 