<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="authentication-body">
<div class="authentication-background-container centered-container vertical-container">
    <div class="authentication-header centered-container vertical-container">
        <img class="authentication-logo" src="{{ url_for('static', filename='images/polar-bear.png') }}" alt="AVA Logo">
        <div class="authentication-description">Sign Up For AVA</div>
    </div>
    <div class="authentication-form-container sign-up-form-container centered-container vertical-container">
        <form class="authentication-form sign-up-form" id="signupForm" action="{{ url_for('bp.homepage') }}" method="post">
            <input type="text" placeholder="Username *" name="username" required>
            <input type="email" placeholder="Email Address *" name="email" required>
            <input type="password" placeholder="Password *" name="password" required>
            <input type="password" placeholder="Confirm Password *" name="password" required>
        </form>
        <button class="sign-up-button" type="submit" form="signupForm" onclick="">Sign Up</button>
    </div>
    <div class="divider">Already have an account?</div>
    <div class=" login-link-container centered-container"><a class="login-link" href="{{ url_for('auth', filename='login.html') }}"> Login Here</a></div>
</div>        
</body>
</html>