<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Assignment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <div class="navbar">
        <ul>
            <li><a href="{{ url_for('common.dashboard') }}">Home</a></li>
            <li><a href="{{ url_for('subjects.index') }}">Subjects</a></li>
            <li class="active"><a href="{{ url_for('common.all_assignments') }}">Assignments</a></li>
            <div class="dropdown" style="float:right">
            <li><a>Account</a></li>
                <div class="dropdown-content">
                    <a href="#profile">Profile</a>
                    <a href="#Settings">Settings</a>
                    <a href="#Privacy Policy">Privacy Policy</a>
                    <a href="{{ url_for('auth.logout') }}">Log Out</a>
                </div>
            </div>
        </ul>
    </div>
</head>
<body id="assignmentpage-body">
<div class="assignment-header sticky-header centered-container">
    <div class="assignment-info header-item vertical-container">
        <!-- Needs to fetch actual assignment info from db -->
        <p class="assignment-title">Assignment Title</p>
        <p class="assignment-due-date">Due Date</p>
    </div>
    <div class="assignment-submission-box header-item centered-container">
        <div class="assignment-submission-info header-item vertical-container">
            <p class="assignment-submission-number">Submission Number</p>
            <p class="assignment-submission-title">Submission Title</p>
            <p class="assignment-submission-date">Submission Date</p>
        </div>
        <div class="assignment-submission-dropdown header-item centered-container">V</div>
    </div>
    <div class="assignment-score-header header-item centered-container">--%</div>
    <button class="assignment-submit-button-header header-item centered-container" onclick="location.href= '{{ url_for('subjects.assignment_submission', sub_id=subject_id, ass_id=assignment_id) }}'">New Submission</button>
</div>
<div class="assignment-description-block vertical-container">
    <h3>Description</h3>
    <p><strong>Lorem ipsum:</strong><br>
        dolor sit amet, consectetur adipiscing elit. Duis gravida malesuada sem nec vehicula. Praesent rutrum suscipit augue sit amet ornare. Praesent sit amet iaculis ante, eget tempus risus. Sed maximus molestie placerat. Aenean finibus sit amet nisi sed vehicula. Donec sodales, risus ut fermentum sagittis, risus lorem egestas justo, vitae ultricies ante purus eget ipsum. Cras facilisis odio vel metus sollicitudin lacinia. Nam nec porttitor est.<br><br>
        <strong>In faucibus:</strong><br>
        massa eget nisi dictum pulvinar. Nullam eu massa libero. Maecenas eget aliquet enim, eget vestibulum massa. Aliquam finibus sagittis finibus. Sed lectus magna, ullamcorper eu faucibus elementum, consequat ut est. Donec aliquet viverra ex et efficitur. Fusce fermentum sapien dolor, vitae eleifend elit porta non</p>
</div>
<div class="assignment-submission-viewer"></div>
<button class="assignment-submit-button-page centered-container" onclick="location.href= '{{ url_for('subjects.assignment_submission', sub_id=subject_id, ass_id=assignment_id) }}'">New Submission</button>
</body>
