<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <title>Subject Page</title>
    <div class="navbar">
        <ul>
            <li><a href="{{ url_for('common.dashboard') }}">Home</a></li>
            <li class="active"><a href="{{ url_for('subjects.index') }}">Subjects</a></li>
            <li><a href="{{ url_for('common.assignments') }}">Assignments</a></li>
            <div class="dropdown" style="float:right">
            <li><a>Account</a></li>
                <div class="dropdown-content">
                    <a href="#profile">Profile</a>
                    <a href="#Settings">Settings</a>
                    <a href="#Privacy Policy">Privacy Policy</a>
                    <a href="{{ url_for('auth.logout') }}">Log Out</a>
                </div>
            </div>
        </ul>
    </div>
</head>
<body id="subjectpage-body" class="bg-gray-100">
<!-- Content -->
<div class="container mx-auto p-8">
    <h2 class="text-3xl font-semibold mb-4">COMP123456 - Advanced Topics in Quantum Computing</h2>
    <p class="text-lg mb-8">
        Welcome to COMP123456 - Advanced Topics in Quantum Computing, an exciting and cutting-edge subject offered by the
        Computing Faculty at [University Name]. This course delves into the fascinating world of quantum computing, exploring
        its principles, applications, and the potential it holds for revolutionizing the field of computing.
    </p>

    <h3 class="text-xl font-semibold mb-4">Course Description:</h3>
    <p class="text-lg mb-8">
        In recent years, quantum computing has emerged as a game-changing technology with the potential to solve complex
        problems that are practically infeasible for classical computers. COMP123456 offers students an in-depth understanding
        of quantum computing concepts, algorithms, and their real-world applications. Through a combination of lectures,
        hands-on labs, and interactive discussions, students will journey from the foundational principles of quantum mechanics
        to advanced quantum algorithms and programming techniques.
    </p>

    <!-- Add other sections here -->

    <h3 class="text-xl font-semibold mb-4">Assignments:</h3>
    <div class="class-card-row">
        {% for ass in assignments %}
            <div class="card" onclick="location.href= '{{ url_for('common.assignmentpage') }}'">
                <h4><b>{{ ass.name }}</b></h4>
                <p>--/100</p>
                <p>Due: 13/07/2023</p>
            </div>
            <!-- <a href="{{ url_for('subjects.assignment_page', sub_id=ass.subject_id, ass_id=ass.id) }}" class="cursor-pointer"> -->
        {% endfor %}
    </div>
</div>
</body>
</html>