<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>ToDo App</title>
    <div class="navbar">
        <ul>
            <li><a href="{{ url_for('common.dashboard') }}">Home</a></li>
            <li><a href="#classes">Classes</a></li>
            <li class="active"><a href="#assignments">Assignments</a></li>
            <li style="float:right"><a href="#about">Manage Account</a></li>
        </ul>
    </div>
</head>
<body>
    <div class="selectClassMenu">
        <h2 style="margin-top: 25px;">Classes</h2>
        <div class="column">
            <div class="card" onclick="location.href= '{{ url_for('common.view_assignment') }}'">
                <h4><b>Assignment 1</b></h4>
                <p>--/100</p>
                <p>Due: 24/08/2023</p>
            </div>
            <div class="card" onclick="location.href= '{{ url_for('common.view_assignment') }}'">
                <h4><b>Project 2</b></h4>
                <p>--/100</p>
                <p>Due: 02/08/2023</p>
            </div>
          </div>
        <div class="column">
            <div class="card" onclick="location.href= '{{ url_for('common.view_assignment') }}'">
                <h4><b>Assignment 2</b></h4>
                <p>--/100</p>
                <p>Due: 06/09/2023</p>
            </div>
            <div class="card" onclick="location.href= '{{ url_for('common.view_assignment') }}'">
                <h4><b>MST</b></h4>
                <p>--/100</p>
                <p>Due: 13/07/2023</p>
            </div>
        </div>
        <div class="column">
            <div class="card" onclick="location.href= '{{ url_for('common.view_assignment') }}'">
                <h4><b>Assignment 3</b></h4>
                <p>--/100</p>
                <p>Due: 17/09/2023</p>
            </div>
        </div>
        <div class="column">
            <div class="card" onclick="location.href= '{{ url_for('common.view_assignment') }}'">
                <h4><b>Project q</b></h4>
                <p>--/100</p>
                <p>Due: 04/08/2023</p>
            </div>
        </div>
    </div>
</body>