<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>ToDo App</title>
    <div class="navbar">
        <ul>
            <li><a href="{{ url_for('common.dashboard') }}">Home</a></li>
            <li><a href="#classes">Classes</a></li>
            <li class="active"><a href="#assignments">Assignments</a></li>
            <li style="float:right"><a href="#about">Manage Account</a></li>
        </ul>
    </div>
</head>
<body>
    <div class="container" id="stylized">
        <h2>Assignment Upload</h2>
        {% if submitted == False: %}
        <form class="login-form" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag()}}
            {{form.file()}} 
            {{form.submit()}}
        </form>
        {% else %}
       <p>{{ upload_content }}</p>
        {% endif %}
    </div>
</body>
</html>