<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>ToDo App</title>
    <div class="navbar">
        <ul>
            <li class="active"><a href="#home">Home</a></li>
            <li><a href="#classes">Classes</a></li>
            <li><a href="{{ url_for('common.upload') }}">Assignments</a></li>
            <div class="dropdown" style="float:right">
            <li><a>Account</a></li>
                <div class="dropdown-content">
                    <a href="#profile">Profile</a>
                    <a href="#Settings">Settings</a>
                    <a href="#Privacy Policy">Privacy Policy</a>
                    <a href="{{ url_for('auth.logout') }}">Log Out</a>
                </div>
            </div>
        </ul>
    </div>
</head>
<body>
    <div class="selectClassMenu">
        <h2 style="margin-top: 25px;">Classes</h2>
        <div class="column">
            <div class="card">
                <h4><b>IT Project</b></h4>
                <p>COMP30022</p>
            </div>
          </div>
        <div class="column">
            <div class="card">
                <h4><b>Models of Computation</b></h4>
                <p>COMP30026</p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h4><b>Declarative Programming</b></h4>
                <p>COMP30020</p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h4><b>Computer Systems</b></h4>
                <p>COMP30023</p>
            </div>
        </div>
    </div>
</body>
</html>