{% extends 'template.html' %}

{% block content %}
<div class="assignment-header centered-container">
    <div class="assignment-info centered-container vertical-container">
        <!-- Needs to fetch actual assignment info from db -->
        <p class="assignment-title">Assignment Title</p>
        <p class="assignment-due-date">Due Date</p>
    </div>
    <div class="assignment-submission-info centered-container vertical-container">
        <p class="assignment-submission-number">Submission Number</p>
        <p class="assignment-submission-title">Submission Title</p>
        <p class="assignment-submission-date">Submission Date</p>
    </div>
    <button class="assignment-submit-button centered-container">New Submission</button>
</div>
<h1>{% block title %} View Assignment {% endblock %}</h1>

{% endblock %}